{% if page.image %}
<div class="entry-featured-image">
    {% if site.lazyimages == "enabled" %}
    <img class="featured-image cropped lazyimg {% if page.imageshadow %} image-shadow {% endif %}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
    {% if page.photocredit %}<div class="photo-credit-text">Photo by {{ page.photocredit }}</div>{% endif %}
    {% else %}
    <img class="featured-image cropped {% if page.imageshadow %} image-shadow {% endif %}" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
    {% if page.photocredit %}<div class="photo-credit-text">Photo by {{ page.photocredit }}</div>{% endif %}
    {% endif %}
</div>
{% endif %}