{% if page.title=="Home" %}
<title>{{ site.title }}</title>
<meta name="description" content="{{ site.description }}" />
<!-- Open Graph-->
<meta property="og:locale" content="en_US">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ site.title}}">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:image" content="{{ site.url }}/{{ page.image }}" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:site_name" content="{{ site.name }}">
<meta name="description" content="{{ site.description }}" />
<!-- Twitter Cards-->
<meta name="twitter:card" content="{{ site.url }}/{{ page.image }}"/>
<meta name="twitter:title" content="{{ page.title}}">
<meta name="twitter:description" content="{{ page.excerpt | strip_html }}">
<meta name="twitter:site" content="@christianaviii" />
{% assign author = site.authors[page.author] %}{% if page.author %}<meta name="twitter:creator" content="@{{ author.twitter }}">{% endif %}
<meta name="twitter:card" content="summary_large_image">
{% else %}
<title>{{ page.title }} | {{ site.title }}</title>
<meta name="description" content="{{ site.description }}" />
<!-- Open Graph -->
<meta property="og:locale" content="en_US">
<meta property="og:type" content="article">
<meta property="og:title" content="{{ page.title}}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:image" content="{{ site.url }}/{{ page.image }}" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:site_name" content="{{ site.name }}">
<meta property="article:publisher" content="https://www.facebook.com/warmbananas" />
{% assign author = site.authors[page.author] %}{% if page.author %}<meta property="article:author" content="{{ author.name }}" />{% endif %}
<meta property="article:published_time" content="{{ page.date }}" />
<meta property="og:description" content="{{ page.excerpt | strip_html }}">
<!-- Twitter Cards-->
<meta name="twitter:card" content="{{ site.url }}/{{ page.image }}"/>
<meta name="twitter:title" content="{{ page.title}}">
<meta name="twitter:description" content="{{ page.excerpt | strip_html }}">
<meta name="twitter:site" content="@christianaviii" />
{% assign author = site.authors[page.author] %}{% if page.author %}<meta name="twitter:creator" content="@{{ author.twitter }}">{% endif %}
<meta name="twitter:card" content="summary_large_image">
{% endif %}
<!-- Constants -->
<link rel="canonical" href="{{ site.url }}{{ page.url }}" />
<meta property="fb:app_id" content="272097524041584" />