<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="icon" href="{{ site.baseurl }}/assets/images/logo.png">

{% include wbseo.html %}

<link href="{{ site.baseurl }}/assets/css/prism.css" rel="stylesheet">
<link href="{{ site.baseurl }}/assets/css/theme.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/googletagmanager.js"></script>{% if site.adsense=="enabled" %}
<script data-ad-client="{{ site.adsense-data-ad-client }}" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>{% endif %}
{% include redirect.html %}
</head>

{% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TSHL42B" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
{% include messenger.html %}
	<!-- Defer loading of font and Font Awesome -->
	<noscript id="deferred-styles">
		<link href="https://fonts.googleapis.com/css?family=Sen:400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	</noscript>
<!-- Begin Navigation -->
<div class="sidebar">    
</div>   
<div class="nav-icon">
    <div class="hamburger-bar"></div>
</div>
<div id="blackover-nav" class="blackover"></div>
<nav id="menu">
    <ul>
        <h3>Navigation</h3>
        <li{% if page.url == '/' %} id="nav-active"{% endif %}><a href="{{ site.baseurl }}/">Home</a></li>
        <li{% if page.url == '/about' %} id="nav-active"{% endif %}><a href="{{ site.baseurl }}/about">About</a></li> <!--<span class="badge badge-primary">Warm Bananas</span>-->
        <li{% if page.url == '/contact' %} id="nav-active"{% endif %}><a href="{{ site.baseurl }}/contact">Contact</a></li>       
    </ul>   
</nav>
{% include search-lunr.html %}
<!-- End Navigation -->
<div class="site-content {% if page.url == '/' %} firstpage {% endif %}">
<div class="container wb-container">
   <!-- Logo -->
   <a class="navbar-brand" href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/{{ site.logo }}" alt="{{ site.name }}">
    <!-- Tag -->
    </a>  
    {% if page.url == '/' %}
        <p class="sitetag">
            {{ site.banner-message }}
        </p>
    {% endif %}<!-- Content -->
    <div class="main-content">
        {{ content }}
    </div>
</div>

<!-- Begin Footer -->
<footer class="footer">
    <div class="container">
        <style>
            .row {
                padding-bottom: 30px;
            }
        </style>
        <div class="row">
            <div class="col-md-6 col-sm-12 text-center text-lg-left">
                Copyright &copy; {{ site.time | date: "%Y" }} {{ site.name }} 
            </div>
            <div class="col-md-6 col-sm-12 text-center text-lg-right">    
                {{ site.description }}
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->
</div> <!-- /.site-content -->
<script src="{{ site.baseurl }}/assets/js/prism.js"></script>
<script src="{{ site.baseurl }}/assets/js/theme.js"></script>
{% if site.lazyimages == "enabled" %}
<script src="{{ site.baseurl }}/assets/js/lazyload.js"></script>
{% endif %}
{% if page.layout == 'post' %}
<script id="dsq-count-scr" src="//{{site.disqus}}.disqus.com/count.js"></script>
{% endif %}

<div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
</div>

<script>
    $(window).on("load",function(){
        $(".loader-wrapper").hide();
    });
</script>
</body>
</html>
