<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="icon" href="{{ site.baseurl }}/assets/images/logo.png">

{% include wbseo.html %}
<link href="{{ site.baseurl }}/assets/css/prism.css" rel="stylesheet">
<link href="{{ site.baseurl }}/assets/css/theme.css" rel="stylesheet">
<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{ site.google-tag-manager }}');</script>
<!-- End Google Tag Manager -->

<meta property="fb:pages" content="103714821167720" />

{% include adsense.html %}
</head>

{% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}

<body>    
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TSHL42B" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
{% include messenger.html %}
	<!-- Defer loading of font and Font Awesome -->
	<noscript id="deferred-styles">
		<link href="https://fonts.googleapis.com/css?family=Sen:400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	</noscript>
<!-- Begin Navigation -->
<div class="sidebar">    
</div>   
<div class="nav-icon">
    <div class="hamburger-bar"></div>
</div>
<div id="blackover-nav" class="blackover"></div>
<nav id="menu">
    <ul>
        <h3>Navigation</h3>
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/about">About</a></li> <!--<span class="badge badge-primary">Warm Bananas</span>-->
        <li><a href="{{ site.baseurl }}/contact">Contact</a></li>       
    </ul>   
</nav>
{% include search-lunr.html %}
<!-- End Navigation -->
<div class="site-content {% if page.url == '/' %} firstpage {% endif %}">
<div class="container">
   <!-- Logo -->
   <a class="navbar-brand" href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/{{ site.logo }}" alt="{{ site.name }}">
    <!-- Tag -->
    </a>  
    {% if page.url == '/' %}
        <p class="sitetag">
            {{ site.banner-message }}
        </p>
    {% endif %}<!-- Content -->
    <div class="main-content">
        {{ content }}
    </div>{% if site.mailchimp-list %}
    <!-- Newsletter -->
    <div class="newsletter text-center">
        <span class="h4"><img src="{{ site.baseurl }}/{{ site.logo }}" class="newsletter-logo" alt="{{site.title}}"> &nbsp; Never miss a <b>story</b> from us, subscribe to our newsletter</span>
        <form action="{{site.mailchimp-list}}" method="post" name="mc-embedded-subscribe-form" class="wj-contact-form validate" target="_blank" novalidate>
            <div class="mc-field-group d-inline-flex">
            <input type="email" placeholder="Your e-mail" name="EMAIL" class="required email" id="mce-EMAIL" autocomplete="on" required>
            <input type="submit" value="Subscribe" name="subscribe" class="heart">
            </div>
        </form>
    </div>{% endif %}
</div>

<!-- Begin Footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 text-center text-lg-left">
                Copyright © {{ site.time | date: "%Y" }} {{ site.name }} 
            </div>
            <div class="col-md-6 col-sm-12 text-center text-lg-right">    
                {{ site.description }}
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->
</div> <!-- /.site-content -->
<script src="{{ site.baseurl }}/assets/js/prism.js"></script>
<script src="{{ site.baseurl }}/assets/js/theme.js"></script>
{% if site.lazyimages == "enabled" %}
<script src="{{ site.baseurl }}/assets/js/lazyload.js"></script>
{% endif %}
{% if page.layout == 'post' %}
<script id="dsq-count-scr" src="//{{site.disqus}}.disqus.com/count.js"></script>
{% endif %}
</body>
</html>